{% extends 'base.html.twig' %}

{% block title %}Aperçu du Livre - {{ book.title }}{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8 max-w-6xl">
		<nav class="mb-6 bg-gray-50 px-4 py-3 rounded-lg shadow-sm">
			<ol class="flex items-center space-x-2 text-sm">
				<li class="flex items-center">
					<a href="{{ path('app_books_list') }}" class="text-red-800 hover:text-red-900 transition">Livres</a>
					{{ ux_icon('line-md:chevron-right', { class: 'ml-3 h-4 w-4' }) }}
				</li>
				<li class="text-gray-700 font-medium truncate">{{ book.title }}</li>
			</ol>
		</nav>

		
	</div>
{% endblock %}