<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('medias/logo.svg') }}">
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600;700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include('components/nav/nav.html.twig') %}
        <div class="mt-10 h-20"></div>
        {% block body %}{% endblock %}
        {% include('components/footer/footer.html.twig') %}
    </body>
</html>
